<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target name="InfoLog" xsi:type="File" fileName="${basedir}/InfoLog.txt"/>
    <target name="ErrorLog" xsi:type="File" fileName="${basedir}/ErrorLog.txt"/>
    <target name="TraceLog" xsi:type="File" fileName="${basedir}/TraceLog.txt"/>
  </targets>

  <rules>
    <logger level="Error" writeTo="ErrorLog" />
    <logger level="Info" writeTo="InfoLog" />
    <logger level="Trace" WriteTo="TraceLog" />
  </rules>
</nlog>
