<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BerkeleyEntities" connectionString="metadata=res://*/berkeleyEntities.csdl|res://*/berkeleyEntities.ssdl|res://*/berkeleyEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.22;Initial Catalog=berkeley;Persist Security Info=True;User ID=sa;Password=Rte12345!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="MecalzoToken" value="AgAAAA**AQAAAA**aAAAAA**3muvUQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wDmYehAZeEpQqdj6x9nY+seQ**XVYBAA**AAMAAA**sU/kbkFfEfDG+g5AEFgJchb5tqUctx8sAeGNGJuq+FKMe1XndvdbvYUgIslSbCZSu1xS5tUb/C7lDLzD0A3wEIuK5yzjy6ROHZPKUqvKrN8NMXVc3bzdp0g9BcSpOLWfWhFrDxDRslrRDvq6Ab9uXVgCd2Y1BuXpXJfCgy/ThwFyykMgKzOrI2ygrpUFLNfOI5FrkfRP3jltdjm0g6mwthF0uNsfxnXDV6RZRaq3mQxL95BQmSqM5wcN4ZLu/aZH62QQaf86hPpZhuYzrxbThbfyjwxeLjGeXRbBj2xGTGwhciq+3pTVvnL55zcoyJ+25QgOmcvDH8JSwu+ZfTNY7Ge+PiDUv9Bs4RkmsFqhg6EFI1uiJKQLqOtKDQ4LQUZqVL6CIhwHDUupuRfbA9jS1wT2W/zOENP8kAjeITLtKXSJppTBFqrrQrNZ4Vo1CL/Sq2vD/yMmsaWkOSRR9W6mWl8ZKO/pcbivPbi0mvkVqFEtfiPN24QdzJAAKpzfcdDlVpplLThwz78UoUDoxQDRw1iVe7Uyo9+2TxLGqLchvlLHCQpte3b4BQAFlnSxVT3JUovz53qxjQeYlgqLiNyxr9WvNaTTFlZoj7+xCE1wq2uEBhyN3+UTOekAKeOcdawr/X+UKy6Q8rRAJ00NyMXIlvPnGzASTOJPoPufgMZfnx7MwT3okbRJFLD7HmMUebRXBCl1GN+MGgFxkoCNVPGMD+nwx0izui/6ppT0Y/ZWBVIjqiJzLjv83JdEsBRgWDE5"/>
    <add key="OneMillionShoesToken" value="AgAAAA**AQAAAA**aAAAAA**rW1fTw**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wGk4GlDJaFqQSdj6x9nY+seQ**XVYBAA**AAMAAA**vKwdj5ss+z0Opo7N0AyWjUEY2JLTgQGQIrC1WJTQjcB+Nu5RC+5kDiSHMw8orh1fVfboyp4FONprhCJGw4ox+SpcilNJAsw3z8MhvkSvF3xloT1SyyXwJMSarFQon76+J2pw6wczgdoo8URzdaitbKbxGsy5jHKTmjp5cYNm/0vH5zndGm24ecYWwlT2sqv02EhnLOqYjDzPSnhtbewPRrDCQe6VMFqG1f4D3GjjmUnqOk6BCa4Zxa3ziFYYxeMb6mMAhs43kcR5S4BQgylss8PPPg1zHnf8Dt5/KIwe3KNp10lrXyNOgiqwql0cqRDqEV8t7KOpIKOunHz1V+fB4XyVU0FiBrbspSBVTgIXedDdW94FvTr020Ad5TTYRvW7aD5N8QLhZBSunRVvFfegAJtBKGD6hGT4w3grNAPXgwd+n9qABL3Ov5e9Wv3ykf8xvstRTSD8084OrlVrKqIYg2JVkaDL0ijq/0cmK0hRKcfv2SsqQj7swEe3u+poXatfxbojoabLACYHruIdKe5Wx0K1B21nZZQ952R0kCW9RE74JimEyAlVtRZcAcmyBH0ORpzULRvjVLA6XDYh3wKCE7XX6cLW9KU+MlGMgwEEwsdVaVDDh3K1dmKiKanfhLzlKDjb7Bl3pH+eGqds/nePAPPfNj51VciLTF/+9iArr01aFbAFOaF8zjpUbqGVU+cZS6NNcOLIF1BtVBxJ7wY7BXKdGLTYLu+L1+Otxd6dTUpyQFioIDMiLadxhrzco61O"/>
    <add key="SmallAvenueToken" value="AgAAAA**AQAAAA**aAAAAA**y7KiUA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wMkIGoDZCLoQ2dj6x9nY+seQ**XVYBAA**AAMAAA**0mbVal/2ivHhayxmSj8GbdhaW58xI3CRHNYNcn5GMcZOHjx7vgPdn80PxCz0I/zyg17J5Ri4SJCN8t+guh21kIA730roesoLPIH3oRE+HzAvj2JzI8tw4gJypzLjLXZX0TLSq54y9IPJ50Dh7Brhb5/KInorV5JpcneHF6R2vFLFGETJxkPSnd+jUk2Pnw9sRU4/SYA+lVKoB84xbK4iECVfFfDIdBfqlQuDiAJyrX/a76t2+CkOVGBLu3X8Ld2xzg7wzh8fUTuUKiYX/6TFYVI4BPC1ffM5Xqqt0mdRYwHhWEFgESZAAHtHWyGIshcwc9r2zi+Nov+t9aVOlgGjdd7y5N9abPBEEmDdpeWYxU3YKX+ysODJngu7k6jbEvPr6nJ5N21KKkB/2eXQeejbPa52OQYLjehMLu9CfIsv2X2tKpdNptVDHK8IFe9ty1rRlKDYINP5g7FIRJh+C4fvuoUFQSCGUHgvywmc7MQtInbYo3qrOZr3dVhqb2xK5b04Wt6EmzTGQYW4C7Ah2GLR3SyxCVYhkU4pFD/Kg6N0+txyNzQe9xboxCTIfr9yGN1Yii3moqGcm1MnpTz9NIidkquqQYuPIKtdkUoeXdFRt6I8546vEnfmA4pagF1dNMNmkgi+WP4BtTFkREWqEUlGOgQlkQiffrJ/BimoCRm+N92F+XfSGnqpazsAM5kfZrACalcUvtqth/bg6emKdV34ryaimkgjsRgJX3HXf3WgCxwhbUC1PhXpp34i/2iWy84j"/>
    <add key="PickaShoeToken" value="AgAAAA**AQAAAA**aAAAAA**G1RHUA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AFkoKjAZaBpgqdj6x9nY+seQ**XVYBAA**AAMAAA**U/jdy/lbe3UL+YYAzBLkx8LUgyf26P171zWxbgAD7fVqVmpKi3iweEl2zAA5IYvdtrk+KzH5JB2I8O+hRubnZrTnMIQ/SzZo+EIRsngVLGbs0UOMTulGcqzLK83HqZpo6tJvbCUTPAcvyhYUmHX170Aw/yEmZwkCALwQUWpwCqbeefYfdbrI8zeToPPETjZ1lPFBsNuMY451QTZlrIWPZRnXYZ3QcCUgcGr5iZHUusKuWxkqZkK+C6V8C8IhfVRE6tG9ydsANdKNuWpaA+VP4LO/isWxnEmSa6+klE6BPqDT4BXPsfj1nNQJ1UZwePGLEgr0hX/8ViFXKzx0KCC8uPLwWyffjx8D4a1786cHJJup/7HEixZHyKyxD/mXiR2je72qa+s4t0yYpgCf7YF31Om2CbaIECGdI2RIcRKoQbD1nZm4wDQ9myKRSSmjDOictv9lCnCVsnOMiQzIiLJ1ohAH+BMtfPYGNDcSuQDZieON6SeW8k9gfFwfdXtXOcaoB9M5ePnklxboub48FtVMmtxfwRXmb/l1lP24AfB/bHrpj5apMwhrcS6fMog/Sw83Ln2iu5uBzjUKQ1IR7j08LcgUu3wWSG3MBcI9gH2gtd1EndDDP/SvURowbUxYuWMLvtOEsDZ8BJfOYvAvEyo+IYVbc5apiOtt/biLGy4zzRomSJjTYR84BfgFjnQuqDJK5AxmhiUZjMEFoSk1JU8MNzyemZNLH71gJBDysT050o39jooYjP9lgXSyy4GkeORz"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
