<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="Content/css/main.css" />
</head>
<body>
    <!--preloader start-->
    <div id="preloader">
        <div id="status"><img src="Content/Images/load.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <!--preloader end-->

    <!-- color picker starts -->
    <div id="style-switcher" class="hs_color_set">
      <div>
        <h3>
          color options
        </h3>
        <ul class="colors">
          <li>
            <p class='colorchange' id='color'>
            </p>
          </li>
          <li>
            <p class='colorchange' id='color2'>
            </p>
          </li>
          <li>
            <p class='colorchange' id='color3'>
            </p>
          </li>
          <li>
            <p class='colorchange' id='color4'>
            </p>
          </li>
          <li>
            <p class='colorchange' id='color5'>
            </p>
          </li>
          <li>
            <p class='colorchange' id='style'>
            </p>
          </li>
        </ul>
      </div>
      <div class="bottom">
        
        <a href="" class="settings">
          <i class="fa fa-gear fa-spin">
          </i>
        </a>
        
      </div>
    </div>
    <!-- color picker ends-->

    <header class="st_header">
      <!--st_header start-->
      <div class="st_header_top">
        <div class="container">
          <div class="st_topheader_wraper">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                <div class="st_topheader_data">
                  <p>
                    <i class="fa fa-paypal eco_margin_right1">
                    </i>
                    you can now pay with 
                    <span class="st_color">
                      paypal
                    </span>
                    and other new methods 
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                <div class="st_social_link">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="fa fa-twitter">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-facebook">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-dribbble">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-linkedin">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-flickr">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-pinterest-p">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-google-plus">
                        </i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--st_header_top end-->
      
      <div class="st_menu_wraper">
        <!--st_menu_wraper Start-->
        
        <div class="container">
          <nav class="navbar navbar-default">
            
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">
                  Toggle navigation
                </span>
                <span class="st_toggle_menu">
                  <i class="fa fa-list-ul fa-2x">
                  </i>
                </span>
              </button>
              <a class="navbar-brand" href="index.html">
                <div class="st_logo">
                  <img src="Content/Images/thestormer-logo.png" alt="stormer">
                </div>
                <div class="st_white_logo">
                  <img src="Content/Images/logo_white.png" alt="stormer">
                </div>
              </a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
              <ul class="nav navbar-nav stomer_menu">
                <li class="">
                  <a href="index.html" class="active">
                    home
                  </a>
                  <!--sub-menu start-->
                  <ul class="sub-menu animated fadeIn">
                    <li>
                      <a href="home-categories.html">
                        Home Full Width
                      </a>
                    </li>
                    <li>
                      <a href="home-page-full-width-2.html">
                        Home Page Full Width 2
                      </a>
                    </li>
                    <li>
                      <a href="home-2.html">
                        Home Normal
                      </a>
                    </li>
                    <li>
                      <a href="home-page-minimal-store-with-sidebar.html">
                        Home Minimal Store – Sidebar
                      </a>
                    </li>
                    <li>
                      <a href="home-page-default-wp.html">
                        Home Page Default WP
                      </a>
                    </li>
                  </ul>
                  <!--./sub-menu end-->
                </li>
                <li class="">
                  <a href="shop.html">
                    shop
                  </a>
                  <!--./sub-menu satrt-->
                  <ul class="sub-menu animated fadeIn">
                    <li>
                      <a href="shop.html">
                        shop sidebar combination
                      </a>
                    </li>
                    <li>
                      <a href="shop-full-width.html">
                        Shop full Width
                      </a>
                    </li>
                    <li>
                      <a href="shop-with-left-sidebar.html">
                        shop with sidebar left
                      </a>
                    </li>
                    <li>
                      <a href="shop-with-right-sidebar.html">
                        shop with sidebar right
                      </a>
                    </li>
                    <li>
                      <a href="shop-sidebar-categories.html">
                        Shop Sidebar + Categories
                      </a>
                    </li>
                  </ul>
                </li>
                
                <li class="st_mega_menu">
                  <a href="#">
                    shop By
                  </a>
                  <!--sub-menu start-->
                  <ul class="sub-menu mega_sub_menu animated fadeIn">
                    <li class="mega_menu_column">
                      <a href="#" class="mega_menu_title">
                        Categories
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="product_category.html">
                            All Categories
                          </a>
                        </li>
                        <li>
                          <a href="product_category.html">
                            Man Shirts
                          </a>
                        </li>
                        <li>
                          <a href="product_category.html">
                            Woman Shirts
                          </a>
                        </li>
                        <li>
                          <a href="product_category.html">
                            Man Hoodies
                          </a>
                        </li>
                        <li>
                          <a href="product_category.html">
                            Woman Hoodies
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mega_menu_column">
                      <a href="#" class="mega_menu_title">
                        Featured Products
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="product_single.html">
                            Vinty Stormer Shirt
                          </a>
                        </li>
                        <li>
                          <a href="product_single.html">
                            White Stormer Hoodie  
                            <span>
                              new
                            </span>
                          </a>
                        </li>
                        <li>
                          <a href="product_single.html">
                            Special edition Hoodie
                          </a>
                        </li>
                        <li>
                          <a href="product_single.html">
                            Skater T-shirt 
                            <small>
                              sale
                            </small>
                          </a>
                        </li>
                        <li>
                          <a href="product_single.html">
                            Man Vintage Shirt
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mega_menu_column">
                      <a href="#" class="mega_menu_title">
                        Product Pages
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="shop-sidebar-categories.html">
                            Shop Sidebar + Categories
                          </a>
                        </li>
                        <li>
                          <a href="shop-with-right-sidebar.html">
                            Shop with right Sidebar
                          </a>
                        </li>
                        <li>
                          <a href="shop-with-left-sidebar.html">
                            Shop with left Sidebar
                          </a>
                        </li>
                        <li>
                          <a href="shop-full-width.html">
                            Shop full Width
                          </a>
                        </li>
                        <li>
                          <a href="shop.html">
                            Shop with Sidebar + Featured
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <!--./sub-menu end-->
                </li>
                
                <li class="">
                  <a href="blog.html">
                    blog
                  </a>
                  <!--sub-menu start-->
                  <ul class="sub-menu animated fadeIn">
                    <li>
                      <a href="blog.html">
                        Default Blog
                      </a>
                    </li>
                    <li>
                      <a href="blog-full-width.html">
                        Blog Full width
                      </a>
                    </li>
                    <li>
                      <a href="mini-blog-left-sidebar.html">
                        Mini Blog Left Sidebar
                      </a>
                    </li>
                    <li>
                      <a href="mini-blog-right-sidebar.html">
                        Mini Blog Right Sidebar
                      </a>
                    </li>
                    <li>
                      <a href="mini-blog-full-width.html">
                        Mini Blog full Width
                      </a>
                    </li>
                    <li>
                      <a href="blog-2-column-all-masonry.html">
                        Blog 2 column Masonry
                      </a>
                    </li>
                    <li>
                      <a href="blog-3-column-all-masonry.html">
                        Blog 3 column Masonry
                      </a>
                    </li>
                    <li>
                      <a href="blog-4-column-all-masonry.html">
                        Blog 4 column Masonry
                      </a>
                    </li>
                    <li>
                      <a href="blog_single.html">
                        Blog Single
                      </a>
                    </li>
                  </ul>
                  <!--./sub-menu end-->
                </li>
                <li class="st_mega_menu">
                  <a href="portfolio.html">
                    portfolio
                  </a>
                  <!--sub-menu start-->
                  <ul class="sub-menu animated fadeIn">
                    <li class="mega_menu_column">
                      <a href="#" class="mega_menu_title">
                        Column 1
                      </a>
                      <ul class="sub-menu">
                        
                        <li>
                          <a href="portfolio-uneven.html">
                            Portfolio Uneven
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-full-width.html">
                            Portfolio Full Width
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-3-column-masonry-text.html">
                            Portfolio Masonry with Text
                          </a>
                        </li>
                        <li>
                          <a href="single-portfolio.html">
                            Single Portfolio Post
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mega_menu_column">
                      <a href="#" class="mega_menu_title">
                        Column 2
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="portfolio-3-column-gallery.html">
                            Three Column Gallery
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-3-column-all.html">
                            Three Column Title &amp; Text
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-3-column-title.html">
                            Three Column Title
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-3-column-masonry.html">
                            Three Column Masonry
                          </a>
                        </li>
                        
                      </ul>
                    </li>
                    <li class="mega_menu_column">
                      <a href="#" class="mega_menu_title">
                        Column 3
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="portfolio-2-column-gallery.html">
                            Two Column Gallery
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-2-column-all.html">
                            Two Column Gallery Title &amp; Text
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-2-column-title.html">
                            Two Column Title
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-2-column-masonry.html">
                            Two Column Masonry
                          </a>
                        </li>
                        
                      </ul>
                    </li>
                    <li class="mega_menu_column">
                      <a href="#" class="mega_menu_title">
                        Column 4
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="portfolio-4-column-gallery.html">
                            Four Column Gallery
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-4-column-all.html">
                            Four Column Title &amp; Text
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-4-column-title.html">
                            Four Column Title
                          </a>
                        </li>
                        <li>
                          <a href="portfolio-4-column-masonry.html">
                            Four Column Masonry
                          </a>
                        </li>
                        
                      </ul>
                    </li>
                  </ul>
                  <!--./sub-menu end-->
                </li>
                
                <li class="st_mega_menu">
                  <a href="shortcodes-skills-charts.html">
                    Shortcode
                  </a>
                  <!--sub-menu start-->
                  <ul class="sub-menu animated fadeIn">
                    <li class="mega_menu_column">
                      <a href="#" class="mega_menu_title">
                        Column 1
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="shortcodes-accordion-toggles.html">
                            <i class="fa fa-list-ul">
                            </i>
                            Accordion &amp; Toggles
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-alert-boxes.html">
                            <i class="fa fa-align-justify">
                            </i>
                            Alert Boxes
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-boxed-content.html">
                            <i class="fa fa-square-o">
                            </i>
                            Boxed Content
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-columns.html">
                            <i class="fa fa-th-list">
                            </i>
                            Columns
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-buttons.html">
                            <i class="fa fa-minus-square">
                            </i>
                            Buttons
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mega_menu_column">
                      <a href="#" class="mega_menu_title">
                        Column 2
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="shortcodes-count-blocks.html">
                            <i class="fa fa-clock-o">
                            </i>
                            Count Blocks
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-google-maps.html">
                            <i class="fa fa-map-marker">
                            </i>
                            Google Maps
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-iconography.html">
                            <i class="fa fa-bug fa-spin">
                            </i>
                            Iconography
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-iconography-with-boxes.html">
                            <i class="fa fa-th-large">
                            </i>
                            Iconography with Boxes
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-images-and-videos.html">
                            <i class="fa fa-picture-o">
                            </i>
                            Images and Videos
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mega_menu_column">
                      <a href="#" class="mega_menu_title">
                        Column 3
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="shortcodes-lists.html">
                            <i class="fa fa-list-ul">
                            </i>
                            Lists
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-premium-image-boxes.html">
                            <i class="fa fa-desktop">
                            </i>
                            Premium Image Boxes
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-premium-rotating-circles.html">
                            
                            <i class="fa fa-dot-circle-o">
                            </i>
                            Premium Rotating Circles
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-pricing-tables.html">
                            <i class="fa fa-columns">
                            </i>
                            Pricing Tables
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-iconography-with-boxes-left.html">
                            <i class="fa fa-table">
                            </i>
                            Iconography Boxes (Left)
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mega_menu_column">
                      <a href="#" class="mega_menu_title">
                        Column 4
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="shortcodes-progress-bars.html">
                            <i class="fa fa-align-left">
                            </i>
                            Progress Bars
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-quotes.html">
                            <i class="fa fa-quote-right">
                            </i>
                            Quotes
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-skills-charts.html">
                            <i class="fa fa-bar-chart-o">
                            </i>
                            Skills Charts
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-typography.html">
                            <i class="fa fa-font">
                            </i>
                            Typography
                          </a>
                        </li>
                        <li>
                          <a href="shortcodes-videos.html">
                            <i class="fa fa-video-camera">
                            </i>
                            Videos
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <!--./sub-menu end-->
                </li>
                <li class="">
                  <a href="contact.html">
                    contact
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
            
            
            <ul class="nav navbar-nav navbar-right stormer_cart">
              <li>
                <div class="st_cart_wraper">
                  <a href="#">
                    <div class="st_cart_item">
                      Items(0)
                      <span>
                        £80
                      </span>
                    </div>
                    <div class="st_cart_img">
                      <img src="Content/Images/cartBox.png" alt="stormer_cart">
                    </div>
                  </a>
                  <div class="st_cart_detail">
                    <p>
                      no product in the cart
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            
            
          </nav>
        </div>
        <!-- /.container-->
      </div>
      
      <!--st_menu_wraper end-->
      <div class="st_bottom_header">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <div class="st_bottom_header_wraper">
                <ul>
                  <li>
                    <div class="st_notification_text">
                      <i class="fa fa-phone">
                      </i>
                      
                      <p>
                        do you have any question? call
                      </p>
                      
                      <span>
                        +(386) 40 123 456
                      </span>
                    </div>
                  </li>
                  <li>
                    <div class="st_notification_text">
                      <i class="fa fa-truck">
                      </i>
                      shipping charge on
                      <span>
                        all orders over $99
                      </span>
                    </div>
                  </li>
                  <li>
                    <div class="st_notification_text">
                      <i class="fa fa-paper-plane-o">
                      </i>
                      info@stormer.com 
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <div class="st_search_wraper">
                <form>
                  <input type="text" class="st_search" placeholder="search">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--st_header end-->

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer>
        <div class="st_footer">
            <!--st_footer-->
            <div class="container">
                <div class="st_footer_wraper">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="st_footer_content">
                                <div class="st_footer_title">
                                    <a href="#">
                                        <img src="Content/Images/footer_logo.png" alt="">
                                    </a>
                                </div>
                                <div class="st_footer_data">
                                    <p>
                                        Lorem ipsum dolor sit amet, consec tuer adipiscing elit, sed diam nonum nibh euismod.
                                        <strong>
                                            Lotuer adipiscing
                                        </strong>
                                        elit, sed diam nibh eu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="st_footer_content">
                                <div class="st_footer_title">
                                    <h5>
                                        product tags
                                    </h5>
                                </div>
                                <div class="st_footer_tag">
                                    <ul>
                                        <li>
                                            <a href="tag.html">
                                                grey
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                hipster
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                hoddie
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                man
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                retro
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                shirt
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                stomer
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                vintag
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                white
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                woman
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="st_footer_content">
                                <div class="st_footer_title">
                                    <h5>
                                        about us
                                    </h5>
                                </div>
                                <div class="st_footer_data">
                                    <p>
                                        The Stormer is a vintage Apparel store that focuses on user experience.
                                    </p>
                                    <span>
                                        <i class="fa fa-phone">
                                        </i>
                                        (+386) 40 123 456
                                    </span>
                                    <span>
                                        <i class="fa fa-envelope">
                                        </i>
                                        info@stormy.com
                                    </span>
                                    <span>
                                        <i class="fa fa-home">
                                        </i>
                                        www.stormy.com
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="st_footer_content">
                                <div class="st_footer_title">
                                    <h5>
                                        featured product
                                    </h5>
                                </div>
                                <div class="st_footer_data">
                                    <ul>
                                        <li>
                                            <a href="product_single.html">
                                                <img src="http://placehold.it/110x90" class="img-responsive" alt="">
                                            </a>
                                            <div class="st_footer_product">
                                                <h6>
                                                    <a href="product_single.html">
                                                        Vinty Stormer Shirt
                                                    </a>
                                                </h6>
                                                <span>
                                                    £90.00
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="product_single.html">
                                                <img src="http://placehold.it/110x90" class="img-responsive" alt="">
                                            </a>
                                            <div class="st_footer_product">
                                                <h6>
                                                    <a href="product_single.html">
                                                        Stormer Vintage Shirt
                                                    </a>
                                                </h6>
                                                <span>
                                                    £39.90 - £49.90
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--st_footer-->
        <div class="st_bottom_footer">
            <div class="container">
                <div class="st_bottomfooter_wraper">
                    <div class="st_bottom_log">
                        <h5>
                            <span>
                                visit
                            </span>
                            <i class="fa fa-circle">
                            </i>
                            <span>
                                THE STORMER
                            </span>
                        </h5>
                    </div>
                    <div class="st_btmfooter_copyright">
                        <p>
                            <span>
                                The
                            </span>
                            <i class="fa fa-circle">
                            </i>
                            <span>
                                Stormer@2015 powered by:
                                <a href="http://himanshusofttech.com/">
                                    Himanshusofttech
                                </a>
                            </span>
                        </p>
                    </div>
                    <div class="st_btm_transaction">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="Content/Images/American-Express.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="Content/Images/PayPal.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="Content/Images/Maestro.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="Content/Images/Visa.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="Content/Images/Visa-Electron.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer-->

    <div class="st_totop">
        <div class="st_gototop">
            <a href="#">
                <div class="st_arrowgototop">
                </div>
            </a>
        </div>
    </div>

    <script src="Scripts/mainscript.js" type="text/javascript">
    </script>
</body>
</html>
