<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BSI_eBayOrders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BSI_eBayOrders.Properties.Settings.berkeleyConnectionString" connectionString="Data Source=192.168.1.22;Initial Catalog=berkeley;Persist Security Info=True;User ID=sa;Password=Rte12345!" />
  </connectionStrings>
  <appSettings>
    <!-- API Server URL, required -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox site use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.ebay.com/wsapi" />
    <!-- User token for API server access, required -->
    <add key="UserAccountApiToken" value="AgAAAA**AQAAAA**aAAAAA**CWDnTg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wDmYehAZeEpQqdj6x9nY+seQ**XVYBAA**AAMAAA**3UP5fYaUEZnVm5ZwIKhfgrd6WlQaLqGz0OMteL6wmx8NC8yeWZ+mjiEGPLF1EmMv3x5vER+4BNc+r7575cEzacBqUQf97x8JkCZnYf0YV6ykxpVYppX+AwjqfdDA3jMvwrag6g8d5p+F8MxW/48iMJ9SgccbU05FngzWC1uOwWxRivSJeMaIcLPhLXrbaWbpEKfbXb2qHRBcUZ5za4XJdFEZaVnaUMidy7qlgLIxuEhkvvrn8NfJcklaE9vgAEK7CEGX4W86nxTKa+HFykcICTocrDBvVfUse6sGWgJpteUkaOEGWYgR680bP9ozC6EZaqpl9eLYAYqfGGu0+4VY1q1PYjt/DVdwl5uA5PzppkHq0rhFMRMeAmgNeS2wLN5Vr/J3OVl1UNKQALyD2gYFhBZVio8Ftg/InYu8Ms4l+CtpM7SIYY5p6FARMvCiOCYnbj0iOsdJuflCdnvvVzD8XiKrUQIlVkbLgTX5iFJpPKwLfigu9ZphUiUbQk0MmzwzCg2K2GF8E2d8s6ZXjEgBsaUipI3TCfQ9gJrDxEyixpUuNfyoUfrUW32djrTs/Ia7W+rlVegj1v/4otRPTWtLHoLIvDCANUdjwDyrFzXJA+9P72R/N4sMlsNm8PvDTQ4dxheoEPGt4td4nF+YXwGw9Ft5tWMT38Rpara0LbiMWN2cAZfPtgtyND2cXsp2NCnG6pVv0qrbMH4gpE2P/KECD/zSLM7uUWhDlY53R/9PoD3l2By76gsSbgYt8IqLf5ns" />
    <!-- Esta key es por sandbox add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**tLHjTg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4CoAJaGpASdj6x9nY+seQ**PLEBAA**AAMAAA**C2TXZ+Kv4IMNx+/W8+YmyLy+78tVtg96fFAcOVzaF2bokWAN0mOzi6sPfYspmloCZ+mwriY5c9LE7+Ph+1xL3YgiG9hrsz+K958HrxVWr9Lc6sxtE8mtTT4oM+PpStBjdwqibXenGZ452mogxeieYYp5wO09sAwhpcfFRWKHvMsGEoxYie4nd5kAwjVhLTFSx1fqQJU1TAlnf9FmlrK6Hs4ugr2m/B8MszUgV+G23NOJx5O/qL9DTMU6Yeen8W75lXPgVlyMGvq0UcgVsKPkkwByrtUDyh1V9Pwf9poiGEX1YdmT1FlqXKCG+OIMQ9DoHsaXjkVdk6byZZRcfvxX45O/0wwyxrIMoaYcZ0QwDy2fPxWNgnoZkyr4fCknRqxNgVxNxkXm5CkfxXHdzVypfNFyznjoPqiu4DIVoIVXg7KTaNx33gSB0Zdopyu8vFX/GzML4AgfhaVE5cE1HDmsBQqGLgLKZYbcYsOUCKdW3X/+erfIKXgKoCfVfQM9lb3YoDOaGbJNBXnzk9YX675CZlqg6Jm6esu2C5//XvkqnmlHEC+Og2xHMuwFtrh2sNTprOuk1StfWSwZ+44VdMoj8IQt/blAa6qfl1eMg3clygetVXRxOXzOfAFLt661G7tsP1lWx55a9ocGd0VBDIMvJkBWHRqhssAngBVvtnpnUuqcnjlJOtA6lTcCCUX48PdgEneZ3WWC52mml/Gwft5R59bZxLC2vYMDR1rtP9pHE+fQAq4tNO5UHW/31FcDxnSz"/-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <BSI_eBayOrders.Properties.Settings>
      <setting name="UserAccountApiToken" serializeAs="String">
        <value>AgAAAA**AQAAAA**aAAAAA**CWDnTg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wDmYehAZeEpQqdj6x9nY+seQ**XVYBAA**AAMAAA**3UP5fYaUEZnVm5ZwIKhfgrd6WlQaLqGz0OMteL6wmx8NC8yeWZ+mjiEGPLF1EmMv3x5vER+4BNc+r7575cEzacBqUQf97x8JkCZnYf0YV6ykxpVYppX+AwjqfdDA3jMvwrag6g8d5p+F8MxW/48iMJ9SgccbU05FngzWC1uOwWxRivSJeMaIcLPhLXrbaWbpEKfbXb2qHRBcUZ5za4XJdFEZaVnaUMidy7qlgLIxuEhkvvrn8NfJcklaE9vgAEK7CEGX4W86nxTKa+HFykcICTocrDBvVfUse6sGWgJpteUkaOEGWYgR680bP9ozC6EZaqpl9eLYAYqfGGu0+4VY1q1PYjt/DVdwl5uA5PzppkHq0rhFMRMeAmgNeS2wLN5Vr/J3OVl1UNKQALyD2gYFhBZVio8Ftg/InYu8Ms4l+CtpM7SIYY5p6FARMvCiOCYnbj0iOsdJuflCdnvvVzD8XiKrUQIlVkbLgTX5iFJpPKwLfigu9ZphUiUbQk0MmzwzCg2K2GF8E2d8s6ZXjEgBsaUipI3TCfQ9gJrDxEyixpUuNfyoUfrUW32djrTs/Ia7W+rlVegj1v/4otRPTWtLHoLIvDCANUdjwDyrFzXJA+9P72R/N4sMlsNm8PvDTQ4dxheoEPGt4td4nF+YXwGw9Ft5tWMT38Rpara0LbiMWN2cAZfPtgtyND2cXsp2NCnG6pVv0qrbMH4gpE2P/KECD/zSLM7uUWhDlY53R/9PoD3l2By76gsSbgYt8IqLf5ns</value>
      </setting>
      <setting name="ApiServerUrl" serializeAs="String">
        <value>https://api.ebay.com/wsapi</value>
      </setting>
    </BSI_eBayOrders.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>