@model IList<WebApplication1.Models.Lookbook>

@{
    ViewBag.Title = "Lookbook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="st_bread">
    <div class="container">
        <div class="st_page_title">
            <h4>
                PORTFOLIO FULL WIDTH
            </h4>
        </div>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                    <i class="fa fa-angle-double-right">
                    </i>
                </a>
            </li>
            <li class="active">
                Portfolio Full Width
            </li>
        </ol>
    </div>
</div>
<!--st_portfolio_section_start-->
<div class="st_full-w-portfolio st_toppadder20">
    <div class="st_gallery_photo">
        <div class="st_mix_grid" id="grid">
            @foreach (var lookbook in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 Photography videos mix mix_all" style="width : 25%; height : 300px;">
                    <div class="row">
                        <div class="st_recentimage">
                            <div class="st_overdefault">
                                <div class="st_recentdescription">
                                    <h3>
                                        @Html.ActionLink(lookbook.Title, "Details", new { id = lookbook.ID})
                                    </h3>
                                </div>
                            </div>
                            <div class="st_image">
                                <a href=@Url.Action("Details", "Lookbook")>
                                    <img src="@lookbook.GetImageSource(lookbook.MainImage)" style="width : 100%; height : 300px;" title="@lookbook.Title" alt="" class="img-responsive">
                                </a>
                                <div class="st_blackoverlay"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--em_grid end-->

    </div>
</div>


