@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="st_bread">
    <div class="container">
        <div class="st_page_title">
            <h4>
                portfolio 3 column gallery
            </h4>
        </div>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                    <i class="fa fa-angle-double-right">
                    </i>
                </a>
            </li>
            <li class="active">
                portfolio 3 column gallery
            </li>
        </ol>
    </div>
</div>
<div class="st_pagecontent st_graybg st_bottompadder_60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 st_toppadder30 st_bottompadder_20">
                <div class="st_filter">
                    <ul class="st_filter_title">
                        <li>
                            <a href="#" class="filter-item active" data-filter="all">
                                SHOW All
                            </a>
                        </li>
                        <li>
                            <a href="#" class="filter-item" data-filter="Audio">
                                AUDIO
                            </a>
                        </li>
                        <li>
                            <a href="#" class="filter-item" data-filter="Photography">
                                Photography
                            </a>
                        </li>
                        <li>
                            <a href="#" class="filter-item" data-filter="Videos">
                                Videos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="st_mix_grid" id="grid">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 st_show_overlay  Photography Videos mix mix_all">
                    <div class="st_port_recentimage st_mbottom_20">
                        <div class="st_port_overdefult">
                            <div class="st-page-portfolio-categories-3cl">
                                <a href="single-portfolio.html" rel="tag">
                                    Photography, Videos
                                </a>
                            </div>
                        </div>
                        <div class="st_port_image">
                            <a href="single-portfolio.html">
                                <img src="http://placehold.it/380x300" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 st_show_overlay Photography Videos mix">
                    <div class="st_port_recentimage st_mbottom_20">
                        <div class="st_port_overdefult">
                            <div class="st-page-portfolio-categories-3cl">

                                <a href="single-portfolio.html" rel="tag">
                                    Photography, Videos
                                </a>

                            </div>
                        </div>
                        <div class="st_port_image">
                            <a href="single-portfolio.html">

                                <img src="http://placehold.it/380x300" alt="" class="img-responsive">

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 st_show_overlay Videos mix ">
                    <div class="st_port_recentimage st_mbottom_20">
                        <div class="st_port_overdefult">
                            <div class="st-page-portfolio-categories-3cl">

                                <a href="single-portfolio.html" rel="tag">
                                    Videos
                                </a>

                            </div>
                        </div>
                        <div class="st_port_image">
                            <a href="single-portfolio.html">

                                <img src="http://placehold.it/380x300" alt="" class="img-responsive">

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 st_show_overlay Audio mix ">
                    <div class="st_port_recentimage st_mbottom_20">
                        <div class="st_port_overdefult">
                            <div class="st-page-portfolio-categories-3cl">
                                <a href="single-portfolio.html" rel="tag">
                                    Audio
                                </a>
                            </div>
                        </div>
                        <div class="st_port_image">
                            <a href="single-portfolio.html">

                                <img src="http://placehold.it/380x300" alt="" class="img-responsive">

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 st_show_overlay Audio photography mix ">
                    <div class="st_port_recentimage st_mbottom_20">
                        <div class="st_port_overdefult">
                            <div class="st-page-portfolio-categories-3cl">
                                <a href="single-portfolio.html" rel="tag">
                                    Audio, Photography
                                </a>
                            </div>
                        </div>
                        <div class="st_port_image">
                            <a href="single-portfolio.html">

                                <img src="http://placehold.it/380x300" alt="" class="img-responsive">

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 st_mbottom_20 Audio Photography Videos mix">
                    <div class="Flexible-container">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/41869140" width="500" height="500"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 st_toppadder40 st_bottompadder_60">
                <div class="st_pagination">
                    <nav>
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#">
                                    <span aria-hidden="true">
                                        Page 1 Of 2
                                    </span>
                                    <span class="sr-only">
                                        Previous
                                    </span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    1
                                    <span class="sr-only">
                                        (current)
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    2
                                    <span class="sr-only">
                                        (current)
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span aria-hidden="true">
                                        »
                                    </span>
                                    <span class="sr-only">
                                        Next
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

