<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BSI_InventoryPreProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
                  </configSections>
  <connectionStrings>
    <add name="BSI_InventoryPreProcessor.Properties.Settings.berkeleyConnectionString" connectionString="Data Source=192.168.1.22;Initial Catalog=berkeley;Persist Security Info=True;User ID=developer;Password=zaoreo112233" providerName="System.Data.SqlClient"/>
    <add name="berkeleyEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.22;initial catalog=berkeley;persist security info=True;user id=developer;password=zaoreo112233;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <userSettings>
    <BSI_InventoryPreProcessor.Properties.Settings>
      <setting name="ApiServerUrl" serializeAs="String">
        <value>https://api.ebay.com/wsapi</value>
      </setting>
      <setting name="eBayDevID" serializeAs="String">
        <value>2ec7ed97-e88e-4868-aeb8-9be51f107a46</value>
      </setting>
      <setting name="eBayAppID" serializeAs="String">
        <value>Mecalzoc-a8e6-4947-ac5b-49be352cd2f4</value>
      </setting>
      <setting name="eBayCertID" serializeAs="String">
        <value>Mecalzoc-a8e6-4947-ac5b-49be352cd2f4</value>
      </setting>
      <setting name="eBayPageSize" serializeAs="String">
        <value>150</value>
      </setting>
    </BSI_InventoryPreProcessor.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
